#blur-cover{   
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    display: none;
 }
 #pop-up{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
 }

 #close{
    position: absolute;
    top: 0;
    cursor: pointer;
    font-size: 40px;
    transform: rotate(45deg);
    right: 14px;
    }